<a href="https://colab.research.google.com/github/Gasbae/python/blob/main/High_Order_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#max and min
#using max (arg1, arg2, *args)
print('Nilai Max :', max(1,3,2,5,4))

#using max(iterable)
data_angka = [1,3,2,8,5,10,6]
print('NIlai Max :', max(data_angka))

num = [15, 300, 2700, 821]
num1 = [12, 2]
num2 = [34, 567, 78]
print('Maximum is:', max(num, num1, num2, key=len))

print(" ")

#with function
def sumDigit(num):
  sum = 0
  while(num):
    sum += num % 10
    num = int(num / 10)
  return sum

print('Maximum is:', max(100, 321, 267, 59, 40, key=sumDigit))
num = [15, 300, 2700, 821, 52, 10, 6]
print('Maximum is:', max(num, key=sumDigit))

Nilai Max : 5
NIlai Max : 10
Maximum is: [15, 300, 2700, 821]

Maximum is: 267
Maximum is: 821

In [ ]:
# using min(arg1, arg2, *args)
print('Nilai Min :', min(1, 3, 2, 5, 4))

# using min(iterable)
data_angka= [3, 2, 8, 5, 10, 6]
print('Nilai Min :', min(data_angka))

num = [15, 300, 2700, 821]
num1 = [12, 2]
num1 = [12, 2]
print('Minimum is:', min(num, num1, num2, key=len))

print(" ")

#with function
def sumDigit(num):
  sum = 0
  while(num):
    sum += num % 10
    num = int(num / 10)
  return sum

print('Minimum is:', min(100, 321, 267, 59, 40, key=sumDigit))
num = [15, 300, 2700, 821, 52, 10, 6]
print('Minimum is:', min(num, key=sumDigit))

Nilai Min : 1
Nilai Min : 2
Minimum is: [12, 2]

Minimum is: 100
Minimum is: 10

In [ ]:
#different of lambda and fuction
#function
def kuadrat(x):
  return x**2

def z(x, y, z):
  return x + y + z

print(kuadrat(3))
f(2, 30, 400)

#function is a statement
#function is a block of statement

9

432

In [ ]:
#lambda
kuadrat = lambda x: x*x
kali = lambda x, y: x*y
f = lambda x, y, z: x + y + z

print(kuadrat(3))
print(kali(4,3))
f(2, 30, 400)

#lambda is an expression, not a statement
#lambda's body is a single expression, a block of statements

9
12

432

In [ ]:
#map
"""
Fungsi map() berfungsi untuk mengaplikasikan satu fungsi ke semua 
anggota dari iterable (list, tuple, dan lain – lain) dan mengembalikan 
hasilnya berupa objek map.
Objek map ini bisa dengan mudah diubah menjadi list baru yang anggotanya 
berupa hasil pemrosesan dari fungsi dengan menggunakan fungsi 
list(), tuple(), maupun set().
"""

nilai = [1, 2, 3, 4, 5]
pangkat = []
for x in nilai:
  pangkat.append (x ** 2)

pangkat

[1, 4, 9, 16, 25]

In [ ]:
nilai = [1, 2, 3, 4, 5]
def pangkat(x) : return x ** 2
list(map(pangkat, nilai))

[1, 4, 9, 16, 25]

In [ ]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]
new_list = list(map(lambda x: x * 2 , my_list))
print(new_list)

[2, 10, 8, 12, 16, 22, 6, 24]

In [ ]:
#filter()
"""
Fungsi filter() berfungsi menyaring anggota–anggota dari iterable 
menggunakan sebuah fungsi untuk menguji tiap anggota dari iterable 
tersebut.
Hasilnya adalah iterable baru yang anggotanya berasal dari iterable
yang lama yang bernilai True saat pengujian.
"""

alfabet = ['a', 'b', 'c', 'e', 'i', 'k', 'o', 'z']
def filter_vocal(alfabet):
  vocal = ['a', 'i', 'u', 'e', 'o']
  if alfabet in vocal:
    return True
  else:
    return False

vocal_terfilter = filter(filter_vocal, alfabet)
print('Huruf vocal yang tersaring adalah:')

#function
for vocal in vocal_terfilter:
  print(vocal)

print(" ")

my_list = [1, 5, 4, 6, 8, 11, 3, 12]
new_list = list(filter(lambda x: (x%2 == 0) ,my_list))
print(new_list)

Huruf vocal yang tersaring adalah:
a
e
i
o

[4, 6, 8, 12]

In [ ]:
#sorted()
"""
Fungsi sorted() berfungsi untuk mengurutkan suatu iterable baik secara
naik maupun turun.
"""

pyList = ['e', 'a', 'u', 'o', 'i']
print (sorted(pyList))
print(" ")

pyString = 'Python'
print(sorted(pyString))
print(" ")

pyTuple = ('e', 'a', 'u', 'o', 'i')
print(sorted(pyTuple))
print(" ")

data_set ={'e', 'a', 'u', 'o', 'i'}
print(sorted(data_set, reverse=True))
print(" ")

data_dict = {'e': 1, 'a': 2, 'u': 3, 'o': 4, 'i': 5}
print(sorted(data_dict, reverse=True))
print(" ")

#function
def takeSecond(elem):
  return elem[1]

random = [(2, 2), (3, 4), (4, 1), (1, 3)]
sortedList = sorted(random, key=takeSecond)
print('Sorted list:', sortedList)

['a', 'e', 'i', 'o', 'u']

['P', 'h', 'n', 'o', 't', 'y']

['a', 'e', 'i', 'o', 'u']

['u', 'o', 'i', 'e', 'a']

['u', 'o', 'i', 'e', 'a']

Sorted list: [(4, 1), (2, 2), (1, 3), (3, 4)]